<h1>Hello MVC</h1>
<p>This is my first page</p>
<h2>Insert Product products</h2>
<ul>

		<form action="/insert" method="post">
       <label for="name">Name</label>
         <input type="text" name="name" id="name" placeholder="name" required>
        <label for="desc">Description</label>
         <input type="text" name="description" id="description" placeholder="Description" required>
		<label for="price">Price</label>
         <input type="number" name="price" id="price" placeholder="price" required>
         <input type ="submit" value="Add">
        </form>
</ul>
